:root {
    --font-color: #ececec;
    --shadow-color: rgba(0, 0, 0, 0.8);
    --theme-color: #05012e;
    --background-color: #00000f;
    --hover-color:rgb(0, 132, 240);
    --h-header:60px;
    --h-footer:560px;
    --f-size:22px;
}

* {
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    transition: all .2s ease;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: var(--font-color);
    font-size: var(--f-size);
}
body{
    background-color: var(--background-color);
    padding-bottom: var(--h-header);
    background-image: url('/imgs/huella_perro.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}
body header.header_app, body footer.footer_app{
    background-color: var(--theme-color);
    width:100%;
    height: var(--h-header);
    display:none;
}
body footer.footer_app{
    display:block;
    position: fixed;
    bottom:0;
    left:0;right:0;
}
body footer.footer_app .creditos{
    display: none;
}
.nav_app{
    position:relative;
    top:0;right:0;
    background: var(--theme-color);
    width:300px;
    height:calc(100vh - var(--h-header));
    max-height: calc(100vh - var(--h-header));
    overflow-y: auto;
}
.nav_app a{
    text-transform: capitalize;
    border-bottom: 2px solid var(--hover-color);
    width:100%;
    display: block;
    padding:10px 3px;
}
.toolbar{
    display: flex;
    align-items: center;
    align-content: center;
}
.toolbar, main section{
    max-width: 1280px;
    width:95%;
    height: inherit;
    margin: auto;
}
.nav_controls{
    width:100%;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
    place-content:center;
    border-radius: 7px;
    box-shadow: 0px 0px 7px var(--background-color);
}

button {
    cursor: pointer;
    background:transparent;
    border: none;
    outline: none;
}
button:hover{
    color: var(--hover-color);
}
h1{
    font-size: calc(var(--f-size) * 1.8);
}
h2{
    font-size: calc(var(--f-size) * 1.4);
}
h3{
    font-size: calc(var(--f-size) * 1.2);
}
h1,h2,h3,h4{
    padding:20px 0;
}
h1,h2{
    text-align: center;
}
p{
    padding:10px;
}
b{
    color:var(--hover-color);
}

@media(min-width:720px){
    body{
        padding-top: var(--h-header);
        padding-bottom: 0;
    }
    body header.header_app,body footer.footer_app{
        display:block;
        position: fixed;
        top:0;
        z-index:10;
    }
    body header.header_app .toolbar{
        justify-content: space-between;
    }
    body footer.footer_app{
        position: relative;
    }
    body header.header_app .nav_controls{
        background: linear-gradient(to right, var(--theme-color), var(--shadow-color)) ;
    }
    footer .nav_controls{
        display:none;
    }
    .nav_controls{
        width:250px;
    }
    footer .creditos{
        display: block;
        margin: auto;
    }
}